
.add-content{
    margin: 0 auto;
    width: 250px;
    height: 280px;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    position: relative;
}

h1{
    padding-top: 10px;
    text-align: center; 
}

.add-input{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: 0.2s;
}

.add-btn{
    position: absolute;
    left: 37%;
    margin-top: 10px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
}

